<section class="container">

    <div class="row mt-5 mb-3">
        <div class="col-7 ">
            <h3 class="text-center fw-bold mt-2 mb-3">
                ORDER :
               <span id="orderId">{{ orderId }}</span> 
            </h3>
        </div>
        <div class="col-3 mt-2">
          
             <a href='/admin/view-order-products?id={{ this._id }}' class="btn btn-secondary">Go To Order</a>
        </div>
        

    </div>

    <div class="row overflow-auto border border-1 rounded-1 border-dark" style="max-height: 83%">
        <table class="table table-hover  table-info ">
            <thead class="p-2 sticky-top">
                <tr class="align-middle text-center fs-5 table-active">
                    <th style="width:20%" scope="col">Product</th>
                    <th style="width:10%" scope="col">Name</th>
                    <th style="width:10%" scope="col">Price</th>
                    <th style="width:20%" scope="col">Shipping Status</th>
                    <th scope="col">Delivery Status</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each order}}
                    <tr class="align-middle text-center">
                        <td>
                            <img src="/images/product-images/{{ this.products.item_id }}.jpeg" alt="pro-image" width="100px" height="100px"></td>
                            {{#each this.pro}}
                            <td>{{ this.product_name }}</td>

                            <td>{{ this.product_price }}</td>
                            

                            <form id = {{ this._id }} onsubmit="shippingUpdate('{{this._id}}',event)">
                            {{/each}}
                           
                            <td>   
                                <select  name = "delivery_status"  class="border-0 bg-primary bg-gradient text-white rounded-2 p-1 text-center" 
                                style="width:40%">
                                    <option  selected value={{this.products.Ds}} label={{this.products.Ds}}>{{this.products.Ds}}</option>
                                    <option value="Pending" label="Pending">Pending</option>
                                    <option value="Started" label="Started">Started</option>
                                    <option value="NotStarted" label="Not Started">Not Started</option>
                                    <option value="Compeleted" label="Compeleted">Compeleted</option>
                                </select>
                            </td>
                            <td>
                                <select name = "Shipping_status" class="border-0 bg-primary text-white rounded-2 p-1 text-center" style="width:40%">
                                   <option  selected value={{this.products.Ss}} label={{this.products.Ss}}>{{this.products.Ss}}</option>
                                    <option value="Pending" label="Pending">Pending</option>
                                    <option value="Started" label="Started">Started</option>
                                    <option value="NotStarted" label="Not Started">Not Started</option>
                                    <option value="Compeleted" label="Compeleted">Compeleted</option>
                                </select>
                            </td>
                            <td>{{this.product_stkqty}}</td>
                            <td>  <button  type = 'submit' class="btn btn-success">Update</button></td>
                            </form>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

    </section>
