<section class="container">
    <div class="row">
        <div class="col-lg-3  mt-4 border border-2">
            FILTERS
        </div>
        <div class="col-lg-8  p-3">
            <div class="row">
                <form action="/productsearch" method="post" class="d-flex me-auto ms-lg-2 ms-2 mt-2 input-group border border-1 border-dark rounded-2">
                    <span class="fa-solid fa-search input-group-text p-3 bg-light"></span>
                    <input id="search" class="border-0 ps-5 pe-5 form-control ui-widget" type="search" placeholder="Search Your Orders Here" name="product_name" aria-label="Search" size="80">
                        <button class="  ps-4 pe-4  bg-search-button text-white " type="submit">Search Orders</button>
                    </form>
                </div>
                {{#each orders}}

                    {{#each this.pro}}
                        <div class=" row pt-3 p-1  mb-2 bg-light box-hover">
                            <div class="col-2">
                                <img src="/images/product-images/{{ this._id }}.jpeg" alt="img" width="100px" height="100px"/>
                            </div>
                            <div class="col-6">
                                <h6>{{ this.product_name }}</h6>
                                <h5><strong>{{ this.product_price }}</strong></h5>
                            </div>

                        {{/each}}
                        <div class="col-2">
                            <strong>Shipping-{{ this.products.Ss }}</strong>
                            
                        </div>
                        <div class="col-2">
                            <strong>Delivery-{{ this.products.Ds }}</strong>
                        </div>

                    </div>

                {{/each}}
            </div>
        </div>
    </section>
